[submodule "eca-base-model"]
	path = eca-base-2015
	url = https://github.com/tospie/eca-base-model.git
[submodule "linked-datapoints"]
	path = linked-datapoints
	url = https://iceland.sb.dfki.de/bitbucket/scm/hyb/linked-datapoints.git
