[submodule "eca-base-2015"]
	path = eca-base-2015
	url = ssh://git@iceland.sb.dfki.de:7998/synch/eca-base-2015.git
[submodule "linked-datapoints"]
	path = linked-datapoints
	url = ssh://git@iceland.sb.dfki.de:7998/synch/linked-datapoints.git
